<!doctype html>
<title>Events</title>
<table>
    <tr>
      <th>Event ID</th>
      <th>Event Type</th>
      <th>Visibility</th>
      <th>Name</th>
      <th>Category</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <tr>
        
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
  </table> 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}