<!-- 
<!doctype html>


<head>

</head>
<body>
    <form name="login" action="/html/cgi-bin/login.py" method="get">

        username: <input type="text" name="username">
        <input type="submit" value="Submit">
    </form>
</body> -->

<!-- <!doctype html>


<head><title>Test</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>My Website</h1>
        <form action="/my-link/">
            <input type="submit" value="Click me" />
        </form>
        
        <button> <a href="/my-link/">Click me</a></button>

    </body> -->

<!doctype html>
   

<head>
    
    <title>Test</title> 
    <meta charset=utf-8> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
    <body>

       <div class="login">
        
            <h1>Welcome to RAVEN - Please Login</h1>

            <!-- Snippet to flash messages -->
            {% with messages = get_flashed_messages() %}
            {%  if  messages %}
            {%  for  message  in  messages %} 
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}

                
            <form name="login" class="login_fields" action="http://localhost:5000/login" method="post">

                <div class="text_field">Username: <input type="text" name="username"></div>

                <div class="text_field">Password: <input type="text" name="password"></div>

                <input style="margin: 10px;" type="submit" value="Submit">
            </form>

            <a  style="padding: 10px;" href="{{ url_for('create_account') }}">Create an Account</a>
        
        </div>



    </body>